.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4257b2;
  padding: 0 10%;

}

.logo {
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 5rem;

}

/* .header li:hover{
    text-decoration: underline;
   text-decoration-thickness: 2px;
 
  }
   */

.header li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #e8e9eb;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

.header li a {
  position: relative;

}

.header li a:hover {
  color: #95a5a6;
}

.header li a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.badge {
  background-color: #DA4167;
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}


@media screen and (max-width:1160px) and (min-width:1017px) {
  .header a{
    font-size: 20px;
  }
  .logo{
    font-size: 30px;
  }


}

@media screen and (max-width:1017px) and (min-width:772px) {
  .header a{
    font-size: 15px;
  }

  .logo{
    font-size:25px;
  }
}


@media screen and (max-width:772px) and (min-width:608px) {
  .header a{
    font-size: 12px;
  }

  .logo{
    font-size:20px;
  }
}


@media screen and (max-width:608px) and (min-width:400px) {
  .header a{
    font-size: 20px;
  }

  .logo{
   display:none;
  }

  .header{
    display:flex;
    justify-content:space-evenly;
    padding:0;
  }
  .header li{
    margin-left:1rem;
  }
  .badge{
    display:none;
  }
}


@media screen and (max-width:400px) and (min-width:250px) {
  .header a{
    font-size: 15px;
  }

  .logo{
   display:none;
  }

  .header{
    display:flex;
    justify-content:space-evenly;
    padding:0;
  }
  .header li{
    margin-left:1rem;
  }
  .badge{
    display:none;
  }
}