.cardScene{
   
    text-align: center;
    position:relative;
   
}

.card{
   
   height:100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    height:60vh;
    margin-top: 6rem;
}

.cardFace{
position:absolute;
height:100%;
width:100%;
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
}

.card.is-flipped{
    transform:rotateY(180deg);
}
.cardFaceFront{
background-color: #ffffff;
}

.cardFaceBack{
    background-color: #ffffff;
    transform: rotateY(180deg);
}


.previousBtn,.nextBtn{
  
    font-size: 81px;
    font-weight: bold;
    line-height: 0px;
    padding: 30px 6px;
    cursor: pointer;
}


.previousBtn:hover{
    opacity: 0.5;
}
.nextBtn:hover{
    opacity: 0.5;
}

.flipBtn{
   
    font: inherit;
    cursor: pointer;
    color: #313638;
    font-weight: 700;
    border: none;
    background-color: #29bebe;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    max-height: 55px;
}

.flipBtn:hover, .flipBtn:active{
    background-color: #17a7a7;
}



.displayArea{
    position: absolute;
    font-size: 45px;
    font-weight: 500;
    width:75%;
    height:75%;
    left: -webkit-calc((100% - 75%)/2);
   display: table;
   top:3rem;
}

/* citation:http://jsfiddle.net/zuul/JrhQh/ */
.displayArea p{
    display: table-cell;
    vertical-align: middle;
}

.actionCenter{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    position:relative;
    top:2rem;
}

